@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "GothamProRegular";
    color: #262626;
}
.white-container {
    padding-bottom: 20px;
    padding-top: 10px;
}
.fon_wood {
    background-image: url(../images/site/fon_wood.jpg);
    background-repeat: repeat-y;
    background-position: center;
}
hr {
    border-top: solid 1px #c2c1c1;
    clear: both
}
h3 {
    margin-top: 5px;
}
.w {
    padding-top: 40px;
}
.decoration-none,
.decoration-none:hover,
.decoration-none:focus,
.decoration-none:active,
.decoration-none.active {
    text-decoration: none;
}
.callback > a {
    text-decoration: none;
    color: #e53935;
    font-size: 12px;
    font-family: "GothamProBold";
}
.fon_footer {
    background: #000000;
}.navbar_fon {
    background: #262626;
 }
.navbar-default .navbar-nav > li > a {
    color: #fffafa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #827d7d;
}
 .red_fon {
     background: #e53935;
 }
.breadcrumb {
    background: none;
}

.red-menu-top {
    display: none;
}
.red-menu > li {
    border-right: 1px solid #bc0400;
}
.red-menu > li:last-child{
     border-right: none;
 }
.red-menu > li > a {
    color: #fff;
    font-family: "GothamProBold";
    padding: 0 5px;
    font-size: 10px;
    line-height: 1;
    height: 50px;
    display: inline-table;
    width: 100%;
}
.red-menu > li > a > div {
    display: inline-table;
    vertical-align: middle;
    padding: 20px 0;
}
.red-menu > li:hover,
.red-menu > li:focus {
    background: #da3632;;
}
.red-menu > li > a:hover,
.red-menu > li > a:focus {
    background: none;
}

/* search-top */
.search-top {
    border: solid 1px #bfbfbf;
    border-radius: 30px;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    width: 100%;
}
.search-top > div  {
    width: 100%;
}
.search-top > div > input {
    border: none;
    width: 100%;
    height: 40px;
    box-shadow: none;
}
.search-top > div > input:focus {
    border: none;
    box-shadow: none;
}
.search-top > div > span {
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
}
.search-top > div > span > button {
    border: none;
    height: 40px;
    font-size: 12px;
}
.search-top > div > span > button:hover,
.search-top > div > span > button:active,
.search-top > div > span > button:focus {
    background-color: #ffffff;
}
.search-top > div > span > button > .caret {
    color: #e53935;
}
/* search-top */
.btnvolg {
    border: none;
    padding: 0px;
    font-size: 16px;
    font-family: "GothamProRegular"

}
.btnvolg > .caret {
    color: #e53935
}
.dropdown-menu > li > a  {
    font-size: 16px;
}
.shop-cart {
    width: 61px;
    height: 61px;
    position: relative;
}
.shop-cart > .c {
    background: url("../images/site/shop_cart.png") 0 0 no-repeat;
    height: 100%;
    width: 100%;
}
.shop-cart > .p {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #f7f7f7;
    border-radius: 40px;
    display: table;
    border: solid 2px #e53935;
    text-align: center;
    color: #e53935;
    font-weight: 600;
    min-width: 22px;
    line-height: 17px;
    font-size: 12px;
}

.discount{
    position: relative;
    display: table;
    margin: 0 auto;
}
.discount > .y {
    position: absolute;
    top: -10px;
    left: -11px;
    background: #FF6E41;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
}
.number {
    font-size: 22px;
    font-family: "GothamProBold"
}
.search {
    color: #e53935
}
.money {
    font-size: 22px;
    margin-left: 10px;
    font-family: "GothamProBold"
}
.money1 {
    font-size: 14px;
    margin-left: 10px;
    font-family: "GothamProRegular";
    margin-bottom: 0;
    line-height: 14px;
    margin-top: 10px;
}
.footer-menu {
    line-height: 35px;


}
.footer-text {
    text-align: center;
    font-size: 15px;
    color: #545454;
}
.footer-menu > a {
    color: #959595;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.footer-phone {
    font-family: "GothamProBold";
    font-size: 26px;
    color: #ffffff;
    float: right;
}
.footer-phone > p {
    color: #7d7d7d;
    font-size: 15px;
    font-family: "GothamProRegular";
    font-weight: 300;
}
.footer-border {
    border-top: 1px solid #262626;
    padding: 20px 0;
}
.footer-icon {
    display: table;
    margin: 0 auto;
}
.footer-icon > div {
    background-image: url("../images/site/facebook.png");
    background-repeat: no-repeat;
    display: inline-table;
    width: 30px;
    height: 25px;
}
.footer-icon > .vk {
    background-position: 0 0;
}
.footer-icon > .fb {
    background-position: -37px 0;
}
.footer-icon > .in {
    background-position: -74px 0;
}
.breadcrumb > li > a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}
.aboutcompany > h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: -9px;
    margin-bottom: 24px;
    font-family: "GothamProBold";
}
.cont {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px 15px;
    margin-top: 15px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
}
.breadmargin {
    margin-top: 25px;
    margin-bottom: 0;
}
.breadmargin > p {
    font-size: 16px;
    font-family: "GothamProRegular";
}
.callback > i {
    font-size: 10px;
    color: #e53935
}
.small-icon {
    font-size: 10px;
    color: #e53935;
    margin-bottom: 3px;
    margin-right: 3px;
}

/* shopping-basket */
.shopping-basket {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 12px;
    margin-top: 18px;
    display: inline-block;
}
.shopping-basket > .i {
    line-height: 70px;
}
.shopping-basket > .p > s {
    color: #ababab;
    font-size: 19px;
    display: block;
    font-family: "GothamProRegular";
}
.shopping-basket > .p > s > i {
    font-family: "GothamProRegular";
}
.shopping-basket > .p {
    font-size: 32px;
    font-family: "GothamProBold";
}
.shopping-basket p {
    font-family: "GothamProBold";
}

.shopping-basket > .i > a > i {
    font-size: 16px;
    color: #bfbfbf;
    font-weight: 100;
    margin-right: 15px;
}
/* shopping-basket */

/* order_price */
.order_price {
    background-color: #eef2f7
}
.order_price > .p {
    font-size: 32px;
    font-family: "GothamProBold";
}
.order_price  p {
    color:#252525;
    margin-left: 0px;
}
.order_price button {
    border-radius: 20px;
}
.order_price i {
    font-size: 22px;
}
/* order_price */
.thumbnail {
    border: none;
    padding: 0;
    margin: 0;
}
.row-left {
    margin-left: -15px;
}
.shop-cart-big > div > .b .m .p > div > div > span {
    font-size: 32px;
    font-family: "GothamProBold";
}
.shop-cart-big > div > .b .m .p > div > div > span > i {
    font-size: 23px;
}
.shop-cart-big > div > .b .m .p {
    padding: 0 15px;
}
.form-control1 {
    width: 35%;
    height: 27px;
    border-radius: 20px;
    text-align: center;
    color: #787d80;
    border-color: #c2c1c1;
}
.form-control1 + span {
    color: #787d80;
}
.n {
    border: none;
}
.shop-cart-big > div > .b > .m > button {
    padding: 6px 7px;
    font-size: 6px;
    color: #fff;
    border-radius: 43px;
    background-color: #b3b3b3;
    margin: 25px 10px;
}
.shop-cart-big .t img {
    width: 100%;
    height: auto;
}
.shop-cart-big > div > .b > .m > span {
    font-size: 12px;
    font-family: "GothamProBold";
    margin: 25px 10px;
}
.shop-cart-big > div > .b > .z {
    font-size: 15px;
    font-family: "GothamProBold";
    margin-top: 20px;
}
.shop-cart-big > div  {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.shop-cart-big > div:hover {
    border: 1px solid #c0080b;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(192,8,11,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(192,8,11,1);
    box-shadow: 0px 0px 0px 2px rgba(192,8,11,1);
}
.shop-cart-big {
	min-height: 410px;
}
.title-cont {
    font-size: 24px;
    margin-bottom: 25px;
}
.test-class2 {
    color: #da3632;
}.test-class {
    color: #da3632;
}
.cont > .col-md-12 > .red_price {
padding: 0;
}
.red_price {
    background-color:#da3632;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-top: -30px;
    border-bottom-left-radius: 10px;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 25px;

}
 .red_price p {
     font-family: "GothamProBold";

     font-size: 38px;
 }
.red_price p > i {
font-size: 25px;
}
.red_price div {
    margin-bottom: 24px;
}
.products img {
    margin-bottom: 40px;
    border-radius: 10px;
}
.pluss {
    border-radius: 30px;
    padding: 0px 2px;
    color:#da3632;
    font-size: 10px;
}
.pluss:hover {
   background-color:#fff;
}
.white_button {
    border-color: #fff;
    border-radius: 20px;
    padding: 8px 50px;
}

/*beef*/
.products {
    text-align: left;
}
.white_button:hover {
    background-color:#fff;
}
.recipe {
    padding: 0;
}
.recipe > li {
    border-bottom: 2px dotted #b0bec5;
    text-align: right;
    list-style: none;
    font-size: 14px;
}
.recipe > li > .l, .recipe > li > .r {
    background-color: #fff;
    position:relative; top: 5px;
}
.recipe > li > .r {
    padding-left: 3px;
}
.recipe > li > .l {
    float: left;
    padding-right: 3px;
}
/*beef*/
/*home_page*/
/*header block*/
.header_block{
    color: #fff;
    margin-top: 109px;
    margin-bottom: 239px;
}
.header_block > .a {
    font-size: 16px;
    font-weight: 600;
}
.header_block > .b {
font-size: 135px;
    font-family: "GothamProBold";
    margin-top: -36px;
    margin-bottom: -42px;
}
.header_block > .b >span {
color:#E53935;
}
.header_block > .c {
    font-size: 26px;
    margin-bottom: 38px;
    margin-top: 40px;
}
.header_block > .d {
    background-color: #E53935;
    padding: 15px 36px;
    border: none;
    font-family: "GothamProBold";
}
/*Product categories*/
.Product_categories > .a > p {
font-size: 34px;
}

.Product_categories > .a > p > span {
    font-family: "GothamProBold";

}
.Product_categories > .b > .d {
    background-color: #E53935;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    border-radius: 40px;
}
.img-categories {
    color: #262626
}
.img-categories .btn {
    border-radius: 30px;
    background-color: #E53934;
    padding: 10px 15px;
}
.img-categories:hover {
    text-decoration: none;
}
.img-categories > .t {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.img-categories > .t > img {
    width: 100%;
    height: auto;
}
.img-categories > .t > .f {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0);
    top: 0;
    left: 0;
}
.img-categories > .t > .f:hover,
.img-categories:hover .f {
    background: rgba(0, 0, 0, 0.6);
}
.img-categories:hover p {
    color: #E63835;
}
.img-categories > p {
    font-size: 16px;
    font-family: "GothamProBold";
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-categories > .b {
    position: absolute;
    top: calc(50% - 45px);
    text-align: center;
    width: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.img-categories > .b:hover, .img-responsive:hover .b {
    opacity: 1;
}
.grey-fon {
    background-color: #282828;
    padding-top: 20px;
}
.grey-fon > .Product_categories > .a > p {
    color: #fff;
}

.cont1 {
    background: #ffffff;

    padding: 15px;
    display: inline-table;
    width: 100%;
}
.cont1-margin-bottom {
    margin-bottom: 40px;
}
.our_company >.a > p {
    font-size:16px ;
    font-family: "GothamProRegular";
    text-decoration: none;

}
.our_company >.a > p >span {
    font-size:36px ;
    font-family: "GothamProBold";
    line-height: 36px;

}
.our_company >.a > div > a {
    border-radius: 30px;
    font-size: 18px;
    font-family: "GothamProBold";
    color: #7d7d7d;
    height: 44px;
    width: 44px;
    line-height: 34px;
    margin-right: 15px;
}
.our_company >.a > div > a:last-child {
    margin-right: 0px;
}

.our_company >.b > div > img {
	width: 100%;
    margin-left: 15px;
}

.our_company >.a > div > a:hover {
    background-color: #E53935 ;
    color: #fff;
    border: none;
}
.our_company {
    border:#C0C0C0 solid 1px;
    border-radius: 10px;
	display: flex;



}
.our_company > .a > .c {
    bottom: 15px;
    right: 15px;
    position: absolute;
}
.our_company > .a {
    position: relative;
    margin-top: 40px;
}

/* special_offers */
.special_offers {
    display: inline-table;
}
.special_offers > .a {
    margin-bottom: 15px;

}
.special_offers > .a > .offers >  .b > p {
    font-size:26px ;
    font-family: "GothamProBold";
    line-height: 23px;
}
.special_offers > .a > .offers >  .b > p > .d {
    font-size:16px ;
    font-family: "GothamProRegular";
    color: #626262;
}
.special_offers > .a > .offers > .b > p > .e {
    font-size:26px ;
    color: #E53935;
}
.special_offers > .a > .offers {
     border: 1px solid  #C0C0C0;
     border-radius: 10px;
     min-height: 280px;
    overflow: hidden;
    position: relative;
}
.special_offers > .a .offers > .b {
    z-index: 1;
    position: relative;
    margin-left: 11px;
}
.special_offers > .a > .offers button {
    /*position: absolute;*/
    bottom: 15px;
    left: 15px;
    background-color: #E53935;
    padding: 10px 34px;
    border-radius: 10px;
    /*margin-left: 11px;*/
}
.special_offers > .a .offers > .b > .c {
    font-size: 16px;
    background-color:#E53935;
}
.special_offers > .a > .offers > .b > p {
    margin-top: 30px;
}
.special_offers > .a > .offers > .bb {
    overflow: hidden;
    position: inherit;
}
.special_offers > .a > .offers > img.big {
    height: 100%;
    position: absolute;
    z-index: 0;
}
.special_offers > .a > .offers > img.small {
    position: absolute;
    max-height: 100%;
    right: 15px;
    bottom: 15px;
    z-index: 0;
}

/* special_offers */
/*stocks*/
.stocks {
    padding-bottom: 15px;

}
.stocks > a {
    border: #fff 1px solid;
    border-radius: 8px;
}

.basket_dropdown {
    border: none;
    margin-top: 23px;
    right: 19px;
    left: inherit;
    min-width: 500px;
    box-shadow: 0 0 15px hsla(0, 9.1%, 2.2%, 0.2);
    border-radius: 10px;
    padding: 20px 15px;
}
.basket_dropdown .angle{
    position: absolute;
    top: -80px;
    right: 7%;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.basket_dropdown .angle:after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 70px;
    left: 20px;
    -webkit-box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
    -o-box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
    box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
}
.basket_dropdown > div >  {
border-bottom: 1px solid;
}
.basket_dropdown  > p {
    font-size: 18px;
    text-align: left;
}
.shopping-basket .c {
    text-align: left;
    display: flex;
    margin-top: 10px;
}
.shopping-basket .c > span {
    line-height: 27px;
    margin-left: 10px;
}
.shopping-basket > .t > p {
    color: #273238;
}
.shopping-basket > .t > span {
    color: #273238;
}
.delivery {
    padding-bottom: 30px;
}
.delivery span {
    font-size: 20px;
    font-family: "GothamProBold";
}
.delivery p {
    color: #252525;
    margin-left: 0;
}
.delivery button {
    border-radius: 20px;
    margin-top: 32px;
}
.shopping-basket > .p > span {
    color: #28343A;
    font-size: 28px;
    font-family: "GothamProBold";
    line-height: 70px;
}
.shopping-basket > .p > span >i {
    font-size: 23px;

}
.shopping-basket > .c > a {
    color: #B3B3B3;
    line-height: 70px;
}
.basket_dropdown_btn > .b > p {
font-size: 16px;
    font-family: "GothamProBold";
}
.basket_dropdown_btn > .b > span {
    font-size: 32px;
    font-family: "GothamProBold";
}
.basket_dropdown_btn > .b > span > i {
    font-size: 22px;
}
.basket_dropdown_btn > .c  > div > button {
    background-color: #E43935;
    border-radius: 20px;
}
.basket_dropdown_btn {
    padding-top: 20px;
}
.basket_dropdown_btn > .c > div {
    line-height: 70px;
}
.color_of_a {
color:#262626 ;
}
.color_of_a:hover,.color_of_a:active {
    color:#262626 ;
}

/*ordering*/



.order_data {

    padding-bottom: 30px;
}
.order_data > h3 {
    margin-bottom: 25px;

}
.order_data > p{
    font-size: 16px;
    margin-bottom: 0px;
}
.order_data > span {
    font-size: 32px;
    color: #E53836;
    font-family: "GothamProBold";
}
.order_data > span > i {
    font-size: 24px;
}
.delivery_address > p {
    font-size: 16px;
    font-family: "GothamProBold";
}
.delivery_address > span {
    font-size: 14px;
    color: #ADADAD;
}
.class_for_input {
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid #c2c1c1;
    height: 36px;
}
/* select2 */
.select2-container {
    width: 100%!important;
}
.select2-container--default .select2-selection--single {
    border-radius: 20px;
    border: 1px solid #c2c1c1;
    height: 36px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    top: 1px;
    right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
   line-height: 36px;
}
textarea.form-control {
    width: 400px;
    margin-top: 81px;
}
.delivery_address {

    padding-bottom: 30px;
    padding-top: 30px;
}
.delivery_time > p {
    font-size:16px ;
    font-family: "GothamProBold";
}
.delivery_time > span {
    font-size:24px;
}
.delivery_time > span > a {
    font-size:14px ;
    color: #E53836;
}
.delivery_time {
    padding-bottom: 30px;
    padding-top: 30px;
}
.totals {
    font-size: 16px;
    padding-bottom: 30px;
    padding-top: 30px;
}
strong {
    font-family: "GothamProBold";
}
.to_pay > div > p {
font-size: 18px;
    line-height: 74px;
}
.to_pay  > div > p > span {
    color: #E53836;
    font-family: "GothamProBold";
}
.to_pay  > div > button {
    border-radius: 20px;
    background: #E53836;
    margin-top: 18px;
}
.to_pay {
    padding-bottom: 30px;
    padding-top: 30px;

}
.class_for_input:focus {
    border-color: hsl(0, 0%, 76.1%);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.1),0 0 8px hsla(0, 0%, 76.5%, 0.6);
    box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.1),0 0 8px hsla(0, 0%, 65.5%, 0.6);
}

/* select2 */
.meat_catalog  a{
    text-decoration: none;
    color: #0f0f0f;
    font-size: 12px;
    font-family: "GothamProBold";
    line-height: 10px;
}
.meat_catalog  a:hover, .meat_catalog  a:active {
    color: #E53836;
}
.meat_catalog  a >span, .meat_catalog  a > span:hover, .meat_catalog  a > span:active {
    color: #B1B1B1;
}
.meat_catalog  a > span:hover, .meat_catalog  a > span:active {

}
.meat_catalog {
    margin-left: 0;
    padding-left: 0;
}
.meat_catalog li {
    list-style-type: none;
    line-height: 34px;
}
.btn_popular .btn {
    margin-bottom: 15px;
    border: none;
    margin-left: 18px;
}
.btn_popular .btn:hover, .btn_popular .btn:active, .btn_popular .btn:focus {
    background: none;
}
 .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:active  {
    background: none;
    border: none;
}
.catalog_button a {
    border: none;
    font-family: "GothamProBold";
    padding: 0px 6px;
    border-radius: 20px;
}
.catalog_button a:hover, .catalog_button a:active {
    background-color:#E53836;
    color: #fff;
}

/* for md */
@media (max-width: 1366px) {
    .shop-cart-big {
        margin-bottom: 20px;
    }
}
/* for sm */
@media (max-width: 1024px) {
    .header_block > .b {
        font-size: 100px;
        margin-top: -12px;
    }
    .grey-fon {
        display: grid;
    }
    .Product_categories > .a > p {
        font-size: 28px;
    }
    .Product_categories .b  {
        padding-bottom: 17px;
    }

    .shop-cart-big > div {
        text-align: center;
    }
    .shop-cart-big .text-left {
        text-align: inherit;
    }
    .shop-cart-big .text-right {
        text-align: inherit;
    }

    .offers {
        text-align: center;
    }
    .special_offers > .a .offers > .b {
        text-align: left;
    }
    .special_offers > .a > .offers > img.big {
        position: relative;
        width: 100%;
    }

    .special_offers > .a > .offers > img.small {
        position: inherit;
        margin: 0 auto;
        right: inherit;
        bottom: inherit;

    }

    .special_offers > .a > .offers  button {
        position: inherit;
        width: 100%;
        margin-bottom: 15px;
        bottom: 0;
        left: 0;
    }
    .our_company > .b > div > img {
        position: relative;
    }

    .our_company > .a > .c {
        position: initial;
        display: table;
        margin: 15px auto;
    }
    .our_company {
        display: inherit;
    }
    .our_company > .b > div > img {
        margin-left: 0;
    }
    .footer-menu > a {
        display: block;
    }
    .footer-icon {
        margin: 0;
    }
    .fon_footer .text-right {
        text-align: inherit;
    }
    .footer-phone {
        float: none;
    }
    textarea.form-control {
        margin-top: 0;
        width: 100%;
    }
    .totals {
        padding-bottom: 0;
    }
    .to_pay .text-right {
        text-align: inherit;
    }
    .to_pay > div > p {
        line-height: inherit;
    }
    .to_pay {
       padding-top: inherit;
        margin-left: -15px;
    }
    .to_pay > div > button {
        margin-top: 0;
        padding: 6px 33px;
    }
    .shopping-basket .text-right {
        text-align: inherit ;
    }
    .shopping-basket {
        display: inline-flex;
    }
    .row-left {
        margin-left: 0;
    }
    .products img {
        width: 100%;
    }
    .basket_dropdown {
        position: relative;
        box-shadow: none;
        border-top: 1px solid #9f9f9f;
        border-bottom: 1px solid #9f9f9f;
        margin: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        min-width: inherit;
    }
    .basket_dropdown .angle {
        display: none;
    }
    .shopping-basket > div {
        min-height: 80px;
    }
    .shopping-basket .c {
        text-align: inherit;
        display: block;
        margin-top: 0;
        margin-left: 0
    }
    .shop-cart {
        margin-bottom: 15px;
    }
    .logo, .header {
        text-align: left;
    }
    .logo > img {
        margin-bottom: 15px;
    }
    .search-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
/* for xs */
@media (max-width: 768px) {
    .shopping-basket {
        display: table;
        text-align: center;

    }
    .shopping-basket .c {
        text-align: inherit;
        margin-left: 115px;
    }
    .shopping-basket .form-control {
        width: 60%;
    }
    .Product_categories > .a > p {
        font-size: 18px;
    }

    .Product_categories > .b > .d {
        width: 100%;
        margin-bottom: 15px;
    }

    .header_block > .b {
        font-size: 60px;
        margin-top: 15px;
    }

    .offers {
        text-align: center;
    }

    .special_offers > .a > .offers > img.big {
        position: relative;
        width: 100%;
    }

    .special_offers > .a > .offers > img.small {
        position: inherit;
        margin: 0 auto;
        right: inherit;
        bottom: inherit;

    }
    .shop-cart-big .text-left {
        text-align: inherit;
    }
    .shop-cart-big .text-right {
        text-align: inherit;
    }

    .special_offers > .a > .offers button {
        position: inherit;
        width: 100%;
        margin-bottom: 15px;
        bottom: 0;
        left: 0;
    }

    .our_company > .b > div > img {
        position: relative;
    }

    .our_company > .a > .c {
        position: initial;
        display: table;
        margin: 15px auto;
    }
    .our_company {
        display: inherit;
    }
    .our_company > .b > div > img {
        margin-left: 0;
    }
    .footer-menu > a {
        display: block;
    }
    .footer-icon {
        margin: 0;
    }
    .fon_footer .text-right {
        text-align: inherit;
    }
    .footer-phone {
        float: none;
    }

    .basket_dropdown {
        position: relative;
        box-shadow: none;
        border-top: 1px solid #9f9f9f;
        border-bottom: 1px solid #9f9f9f;
        margin: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        min-width: inherit;
    }
    .basket_dropdown .angle {
        display: none;
    }
    .shopping-basket > div {
        min-height: 80px;
    }
    .shopping-basket .c {
        text-align: inherit;
        display: block;
        margin-top: 0;
        margin-left: 0
    }
    .shop-cart {
        margin: 15px auto;
    }
    .red-menu {
        display: none;
    }
    .red-menu-top {
        display: block;
    }
    .logo, .header {
        text-align: center;
    }
    .logo > img {
        margin-bottom: 15px;
    }
    .search-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
}