@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "GothamProRegular";
    color: #262626;
}
.white-container {
    padding-bottom: 20px;
    padding-top: 10px;
}
.fon_wood {
    background-image: url(../images/site/fon_wood.jpg);
    background-repeat: repeat-y;
    background-position: center;
}
.w {
    padding-top: 40px;
}
.decoration-none,
.decoration-none:hover,
.decoration-none:focus,
.decoration-none:active,
.decoration-none.active {
    text-decoration: none;
}
.callback > a {
    text-decoration: none;
    color: #e53935;
    font-size: 12px;
    font-family: "GothamProBold";
}
.fon_footer {
    background: #000000;
}.navbar_fon {
    background: #262626;
 }
.navbar-default .navbar-nav > li > a {
    color: #fffafa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #827d7d;
}
 .red_fon {
     background: #e53935;
 }
.breadcrumb {
    background: none;
}

.red-menu > li {
    border-right: 1px solid #bc0400;
}
.red-menu > li:last-child{
     border-right: none;
 }
.red-menu > li > a {
    color: #fff;
    font-family: "GothamProBold";
    padding: 0 5px;
    font-size: 10px;
    line-height: 1;
    height: 50px;
    display: inline-table;
    width: 100%;
}
.red-menu > li > a > div {
    display: inline-table;
    vertical-align: middle;
    padding: 20px 0;
}
.red-menu > li:hover,
.red-menu > li:focus {
    background: #da3632;;
}
.red-menu > li > a:hover,
.red-menu > li > a:focus {
    background: none;
}

/* search-top */
.search-top {
    border: solid 1px #bfbfbf;
    border-radius: 30px;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    width: 100%;
}
.search-top > div  {
    width: 100%;
}
.search-top > div > input {
    border: none;
    width: 100%;
    height: 40px;
    box-shadow: none;
}
.search-top > div > input:focus {
    border: none;
    box-shadow: none;
}
.search-top > div > span {
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
}
.search-top > div > span > button {
    border: none;
    height: 40px;
    font-size: 12px;
}
.search-top > div > span > button:hover,
.search-top > div > span > button:active,
.search-top > div > span > button:focus {
    background-color: #ffffff;
}
.search-top > div > span > button > .caret {
    color: #e53935;
}
/* search-top */
.btnvolg {
    border: none;
    padding: 0px;
    font-size: 16px;
    font-family: "GothamProRegular"

}
.btnvolg > .caret {
    color: #e53935
}
.dropdown-menu > li > a  {
    font-size: 16px;
}
.shop-cart {
    width: 61px;
    height: 61px;
    position: relative;
}
.shop-cart > .c {
    background: url("../images/site/shop_cart.png") 0 0 no-repeat;
    height: 100%;
    width: 100%;
}
.shop-cart > .p {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #f7f7f7;
    border-radius: 40px;
    display: table;
    border: solid 2px #e53935;
    text-align: center;
    color: #e53935;
    font-weight: 600;
    min-width: 22px;
    line-height: 17px;
    font-size: 12px;
}
.number {
    font-size: 22px;
    font-family: "GothamProBold"
}
.search {
    color: #e53935
}
.money {
    font-size: 22px;
    margin-left: 10px;
    font-family: "GothamProBold"
}
.money1 {
    font-size: 14px;
    margin-left: 10px;
    font-family: "GothamProRegular";
    margin-bottom: 0;
    line-height: 14px;
    margin-top: 10px;
}
.footer-menu {
    line-height: 35px;


}
.footer-text {
    text-align: center;
    font-size: 15px;
    color: #545454;
}
.col-md-4 > a {
    color: #959595;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.footer-phone {
    font-family: "GothamProBold";
    font-size: 26px;
    color: #ffffff;
    float: right;
}
.footer-phone > p {
    color: #7d7d7d;
    font-size: 15px;
    font-family: "GothamProRegular";
    font-weight: 300;
}
.footer-border {
    border-top: 1px solid #262626;
    padding: 20px 0;
}
.footer-icon {
    display: table;
    margin: 0 auto;
}
.footer-icon > div {
    background-image: url("../images/site/facebook.png");
    background-repeat: no-repeat;
    display: inline-table;
    width: 30px;
    height: 25px;
}
.footer-icon > .vk {
    background-position: 0 0;
}
.footer-icon > .fb {
    background-position: -37px 0;
}
.footer-icon > .in {
    background-position: -74px 0;
}
.breadcrumb > li > a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}
.aboutcompany > h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: -9px;
    margin-bottom: 24px;
    font-family: "GothamProBold";
}
.cont {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
}
.breadmargin {
    margin-top: 25px;
    margin-bottom: 0;
}
.breadmargin > p {
    font-size: 16px;
    font-family: "GothamProRegular";
}
.callback > i {
    font-size: 10px;
    color: #e53935
}
.small-icon {
    font-size: 10px;
    color: #e53935;
    margin-bottom: 3px;
    margin-right: 3px;
}

/* shopping-basket */
.shopping-basket {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}
.shopping-basket > .p > s {
    color: #ababab;
    font-size: 19px;
    display: block;
}
.shopping-basket > .p {
    font-size: 32px;
    font-family: "GothamProBold";
}
.shopping-basket > .i > a > i {
    font-size: 16px;
    color: #bfbfbf;
    font-weight: 100;
}
/* shopping-basket */

/* order_price */
.order_price {
    background-color: #eef2f7
}
.order_price > .p {
    font-size: 32px;
    font-family: "GothamProBold";
}
/* order_price */
.thumbnail {
    border: none;
    padding: 0;
    margin: 0;
}
.row-left {
    margin-left: -15px;
}
.shop-cart-big > div > .b .m .p > div > div > span {
    font-size: 32px;
    font-family: "GothamProBold";
}
.shop-cart-big > div > .b .m .p > div > div > span > i {
    font-size: 23px;
}
.shop-cart-big > div > .b .m .p {
    padding: 0 15px;
    display: flex;
}
.form-control1 {
    width: 35%;
    height: 27px;
    border-radius: 20px;
    text-align: center;
    color: #787d80;
    border-color: #c2c1c1;
}
.form-control1 + span {
    color: #787d80;
}
.n {
    border: none;
}
.shop-cart-big > div > .b > .m > button {
    padding: 6px 7px;
    font-size: 6px;
    color: #fff;
    border-radius: 43px;
    background-color: #b3b3b3;
    margin: 25px 10px;
}
.shop-cart-big > div > .b > .m > span {
    font-size: 12px;
    font-family: "GothamProBold";
    margin: 25px 10px;
}
.shop-cart-big > div > .b > .z {
    font-size: 15px;
    font-family: "GothamProBold";
    margin-top: 20px;
}
.shop-cart-big > div  {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.shop-cart-big > div:hover {
    border: 3px solid #c0080b;
    margin: -2px;
    display: inline-table;
}
.shop-cart-big {
	min-height: 410px;
}
.title-cont {
    font-size: 24px;
    margin-bottom: 25px;
}
.test-class2 {
    color: #da3632;
}.test-class {
    color: #da3632;
}
.cont > .col-md-12 > .red_price {
padding: 0;
}
.red_price {
    background-color:#da3632;
    border-radius: 10px;
    text-align: center;
}
/*beef*/
.recipe {
    padding: 0;
}
.recipe > li {
    border-bottom: 2px dotted #b0bec5;
    text-align: right;
    list-style: none;
    font-size: 14px;
}
.recipe > li > .l, .recipe > li > .r {
    background-color: #fff;
    position:relative; top: 5px;
}
.recipe > li > .r {
    padding-left: 3px;
}
.recipe > li > .l {
    float: left;
    padding-right: 3px;
}
/*beef*/
/*home_page*/
/*header block*/
.header_block{
    color: #fff;
    margin-top: 109px;
    margin-bottom: 239px;
}
.header_block > .a {
    font-size: 16px;
    font-weight: 600;
}
.header_block > .b {
font-size: 135px;
    font-family: "GothamProBold";
    margin-top: -36px;
    margin-bottom: -42px;
}
.header_block > .b >span {
color:#E53935;
}
.header_block > .c {
    font-size: 26px;
    margin-bottom: 38px;
    margin-top: 40px;
}
.header_block > .d {
    background-color: #E53935;
    padding: 15px 36px;
    border: none;
    font-family: "GothamProBold";
}
/*Product categories*/
.Product_categories > .a > p {
font-size: 34px;
}

.Product_categories > .a > p > span {
    font-family: "GothamProBold";

}
.Product_categories > .b > .d {
    background-color: #E53935;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    border-radius: 40px;
}
.img-categories {
    color: #262626
}
.img-categories:hover {
    text-decoration: none;
}
.img-categories > .t {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.img-categories > .t > img {
    width: 100%;
    height: auto;
}
.img-categories > .t > .f {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0);
    top: 0;
    left: 0;
}
.img-categories > .t > .f:hover,
.img-categories:hover .f {
    background: rgba(0, 0, 0, 0.6);
}
.img-categories:hover p {
    color: #E63835;
}
.img-categories > p {
    font-size: 16px;
    font-family: "GothamProBold";
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-categories > .b {
    position: absolute;
    top: calc(50% - 45px);
    text-align: center;
    width: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.img-categories > .b:hover, .img-responsive:hover .b {
    opacity: 1;
}
.grey-fon {
    background-color: #282828;
    padding-top: 20px;
}
.grey-fon > .Product_categories > .a > p {
    color: #fff;
}

.cont1 {
    background: #ffffff;

    padding: 15px;
    display: inline-table;
    width: 100%;
}
.cont1-margin-bottom {
    margin-bottom: 40px;
}
.our_company >.a > p {
    font-size:16px ;
    font-family: "GothamProRegular";
    text-decoration: none;

}
.our_company >.a > p >span {
    font-size:36px ;
    font-family: "GothamProBold";
    line-height: 36px;

}
.our_company >.a > div > a {
    border-radius: 30px;
    font-size: 18px;
    font-family: "GothamProBold";
    color: #7d7d7d;
    height: 44px;
    width: 44px;
    line-height: 34px;
    margin-right: 15px;
}
.our_company >.a > div > a:last-child {
    margin-right: 0px;
}

.our_company >.b > div > img {
	width: 100%;
    margin-left: 15px;
}

.our_company >.a > div > a:hover {
    background-color: #E53935 ;
    color: #fff;
    border: none;
}
.our_company {
    border:#C0C0C0 solid 1px;
    border-radius: 10px;
	display: flex;



}
.our_company > .a > .c {
    bottom: 15px;
    right: 15px;
    position: absolute;
}
.our_company > .a {
    position: relative;
    margin-top: 40px;
}

/* special_offers */
.special_offers {
    display: inline-table;
}
.special_offers > .a {
    margin-bottom: 15px;

}
.special_offers > .a > .offers >  .b > p {
    font-size:26px ;
    font-family: "GothamProBold";
    line-height: 23px;
}
.special_offers > .a > .offers >  .b > p > .d {
    font-size:16px ;
    font-family: "GothamProRegular";
    color: #626262;
}
.special_offers > .a > .offers > .b > p > .e {
    font-size:26px ;
    color: #E53935;
}
.special_offers > .a > .offers {
     border: 1px solid  #C0C0C0;
     border-radius: 10px;
     min-height: 280px;
    overflow: hidden;
    position: relative;
}
.special_offers > .a .offers > .b {
    z-index: 1;
    position: relative;
    margin-left: 11px;
}
.special_offers > .a > .offers > button {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.special_offers > .a .offers > .b > .c {
    font-size: 16px;
    background-color:#E53935;
}
.special_offers > .a > .offers > .b > p {
    margin-top: 30px;
}
.special_offers > .a > .offers > .bb {
    overflow: hidden;
    position: inherit;
}
.special_offers > .a > .offers > img.big {
    height: 100%;
    position: absolute;
    z-index: 0;
}
.special_offers > .a > .offers > img.small {
    position: absolute;
    max-height: 100%;
    right: 15px;
    bottom: 15px;
    z-index: 0;
}

.offers > .c {
    background-color: #E53935;
    padding: 10px 34px;
    border-radius: 10px;
    margin-left: 11px;
}
/* special_offers */
/*stocks*/
.stocks {
    padding-bottom: 15px;

}
.stocks > a {
    border: #fff 1px solid;
    border-radius: 8px;
}

.basket_dropdown {
    min-width: 416px;
    margin-left: -297px;
    margin-top: 40px;
    border-top: 3px solid #fff;
    -moz-border-radius: 5px;
    position: relative;
    padding: 5px;
    width: 300px;
    text-align: center;

}
.basket_dropdown .angle{
    position: absolute;
    top: -80px;
    right: 9%;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.basket_dropdown .angle:after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 70px;
    left: 20px;
    -webkit-box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
    -o-box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
    box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);
}
.basket_dropdown > div >  {
border-bottom: 1px solid;
}
.basket_dropdown  > p{
font-size: 16px;
    text-align: left;
}
.shopping-basket > div > .t > p {
    color: #92A0A9;
}
.shopping-basket > div > .t > span {
    color: #273238;
}
.shopping-basket > div > .p > span {
    color: #28343A;
    font-size: 18px;
    font-family: "GothamProBold";
    line-height: 70px;
}
.shopping-basket > div > .p > span >i {
    font-size: 15px;
    line-height: 70px;
}
.shopping-basket > div > .c > a {
    color: #B3B3B3;
    line-height: 70px;
}
.basket_dropdown_btn > .b > p {
font-size: 16px;
    font-family: "GothamProBold";
}
.basket_dropdown_btn > .b > span {
    font-size: 32px;
    font-family: "GothamProBold";
}
.basket_dropdown_btn > .b > span > i {
    font-size: 22px;
}
.basket_dropdown_btn > .c  > div > button {
    background-color: #E43935;
    border-radius: 20px;
}
.basket_dropdown_btn {
    padding-top: 20px;
}
.basket_dropdown_btn > .c > div {
    line-height: 70px;
}
.color_of_a {
color:#262626 ;
}
.color_of_a:hover,.color_of_a:active {
    color:#262626 ;
}

/*ordering*/



.container_for_ordering{
    background: #ffffff;
    display: inline-block;
    width: 100%;
    padding: 15px;
}
.order_data {
border-bottom: solid 2px;
    padding-bottom: 30px;
}
.order_data > h3 {
    margin-bottom: 25px;

}
.order_data > p{
    font-size: 16px;
    margin-bottom: 0px;
}
.order_data > span {
    font-size: 32px;
    color: #E53836;
    font-family: "GothamProBold";
}
.order_data > span > i {
    font-size: 24px;
}
.delivery_address > p {
    font-size: 16px;
    font-family: "GothamProBold";
}
.delivery_address > span {
    font-size: 14px;
    color: #ADADAD;
}
.class_for_input {
    font-size: 12px;
    border-radius: 20px;
}
/* select2 */
.select2-container {
    width: 100%!important;
}
textarea.form-control {
    width: 400px;
    margin-top: 81px;
}
.delivery_address {
    border-bottom: solid 2px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.delivery_time > p {
    font-size:16px ;
    font-family: "GothamProBold";
}
.delivery_time > span {
    font-size:24px;
}
.delivery_time > span > a {
    font-size:14px ;
    color: #E53836;
}
.delivery_time {
    border-bottom: solid 2px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.totals {
    font-size: 16px;
    padding-bottom: 30px;
    padding-top: 30px;
}
strong {
    font-family: "GothamProBold";
}
.to_pay > div > p {
font-size: 18px;
    line-height: 74px;
}
.to_pay  > div > p > span {
    color: #E53836;
    font-family: "GothamProBold";
}
.to_pay  > div > button {
    border-radius: 20px;
    background: #E53836;
    margin-top: 18px;
}
.to_pay {
    padding-bottom: 30px;
    padding-top: 30px;

}

/* select2 */